<% provide :title, t("static_pages.about.title") %>
<h1><%= t("static_pages.about.title") %></h1> 
<p>
  <%= t("static_pages.about.content")[0] %>
  <%= link_to t("static_pages.about.content")[1], Settings.link.railstutorial.home %>
  <%= t("static_pages.about.content")[2] %>
  <%= link_to t("static_pages.about.content")[3], Settings.link.learnenough.home %>
  <%= t("static_pages.about.content")[4] %>
  <%= link_to t("static_pages.about.content")[5], Settings.link.railstutorial.home %>
  <%= t("static_pages.about.content")[6] %>
  <%= link_to t("static_pages.about.content")[7], Settings.link.railstutorial.screencasts %>
  <%= t("static_pages.about.content")[8] %>
  <%= link_to t("static_pages.about.content")[9], Settings.link.railstutorial.home %>
  <%= t("static_pages.about.content")[10] %>
</p>
