<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1> 
<p>
  <%= t(".content")[0] %>
  <%= link_to t(".content")[1], Settings.link.railstutorial.home %>
  <%= t(".content")[2] %>
  <%= link_to t(".content")[3], Settings.link.learnenough.home %>
  <%= t(".content")[4] %>
  <%= link_to t(".content")[5], Settings.link.railstutorial.home %>
  <%= t(".content")[6] %>
  <%= link_to t(".content")[7], Settings.link.railstutorial.screencasts %>
  <%= t(".content")[8] %>
  <%= link_to t(".content")[9], Settings.link.railstutorial.home %>
  <%= t(".content")[10] %>
</p>
