<% provide :title, t("static_pages.help.title") %>
<h1><%= t("static_pages.help.title") %></h1> 
<p>
  <%= t("static_pages.help.content")[0] %>
  <%= link_to t("static_pages.help.content")[1], Settings.link.railstutorial.help %>
  <%= t("static_pages.help.content")[2] %>
  <%= link_to t("static_pages.help.content")[3], Settings.link.railstutorial.book %>
  <%= t("static_pages.help.content")[4] %>
</p>
