<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1> 
<p>
  <%= t(".content")[0] %>
  <%= link_to t(".content")[1], Settings.link.railstutorial.help %>
  <%= t(".content")[2] %>
  <%= link_to t(".content")[3], Settings.link.railstutorial.book %>
  <%= t(".content")[4] %>
</p>
