<% provide :title, t("user.login.title") %> 
<h1><%= t "user.login.title" %></h1>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %> 
      <%= f.label t("user.login.email") %>
      <%= f.email_field :email, class: "form-control" %> 
      <%= f.label t("user.login.password") %>
      <%= link_to t("shared.forgot_password"), new_password_reset_path %>
      <%= f.password_field :password, class: "form-control" %> 
      <%= f.label :remember_me, class: "checkbox inline" do %> 
        <%= f.check_box :remember_me %>
        <span><%= t "shared.remember_me" %></span>
      <% end %>
      <%= f.submit t("user.login.title"), class: "btn btn-primary" %>
    <% end %>
    <p><%= t "user.login.new_user" %> <%= link_to t("user.login.sign_up_now"), signup_path %></p> 
  </div>
</div>
