<footer class="footer"> 
  <small>
    <%= t(".creator")[0] %>
    <%= link_to t(".creator")[1], Settings.link.railstutorial.home %>
    <%= t(".creator")[2] %>
    <%= link_to t(".creator")[3], Settings.link.michaelhartl.home %>
  </small>
  <nav>
    <ul>
      <% if I18n.locale == I18n.default_locale %>
        <li><%= link_to t(".languages.en"), locale: :en %></li>
      <% else %>
        <li><%= link_to t(".languages.vi"), locale: :vi %></li>
      <%end%>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.link.railstutorial.home %></li>
    </ul>
  </nav>
</footer>
